@model CreateGuideCommand
@{
    ViewData["Title"] = "AddGuide";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>AddGuide</h1>
<hr />
<form method="post">
    <label>Rehber Adı</label>
    <input type="text" class="form-control" asp-for="GuideName" />
    <br>
    <label>Açıklama</label>
    <input type="text" class="form-control" asp-for="GuideDescription" />
    <br>
    <br>
    <button class="btn btn-success">Ekle</button>
</form>