
@{
    ViewData["Title"] = "GetCityId";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>GetCityId</h1>
<br><br>

<form method="post">
    <label>Şehir Adı</label>
    <input type="text" class="form-control" name="city">
    <br>
    <button class="btn btn-success">Ara</button>
</form>