@using EntityLayer.Concrete
@model List<Destination>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    //
    int timer = 0;
}

<h1>Rotalar</h1>
<hr>
<a href="/Admin/Destination/AddDestination/" class="btn btn-info" style="display: block; width: 100%; text-align: center;">Tur Rotası Oluştur</a>
<hr>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Şehir</th>
        <th>Fiyat</th>
        <th>Kapasite</th>
        <th>Sitede Gör</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach(var item in Model)
    {
        <tr>
            @{timer += 1;}
            <td>@timer</td>
            <td>@item.DestinationCity</td>
            <td>$@item.DestinationPrice</td>
            <td>@item.DestinationCapacity kişi</td>
            <td><a href="/Destination/DestinationDetails/@item.DestinationID" class="btn btn-outline-info" style="display: block; width: 100%; text-align: center;">Sitede Gör</a></td>
            <td><a href="/Admin/Destination/DeleteDestination/@item.DestinationID" class="btn btn-outline-danger" style="display: block; width: 100%; text-align: center;">Sil</a></td>
            <td><a href="/Admin/Destination/UpdateDestination/@item.DestinationID" class="btn btn-outline-success" style="display: block; width: 100%; text-align: center;">Güncelle</a></td>
        </tr>
    }
</table>